/* ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --mainBlack: #011627;
  --mainWhite:#F1F6F9;
  --mainGreen: #00d573;
  --mainRose: #e71d36;
  --mainYellow: #ff9f1c;
  --mainBlue: #3b5998;
  --primary-color: #e50914;
  --dark-color: #141414;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

/* p {
  margin: .5rem 0;
} */

img {
  /* every img take 100% of its container */
  max-width: 100%;
}


form {
  display: flex;
  margin-bottom: 2rem;
  width:90%;
}
 
 button{
  border-color:transparent;
   cursor:pointer;
 
}
button:focus{
 outline:none;
}

input {
  flex: 2;
  padding:1rem;
  border: none;
  outline: none;
  font-size:1rem;
  font-weight:700;
  transition: border .5s linear;
}
input:focus {
  border-bottom: 2px solid var(--mainBlue);
  
}

.icon-search {
  /* padding: 1rem; */
  flex: 0.15;
  overflow: hidden;
  border:transparent;
  cursor: pointer;
  outline: none;
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-size: 3rem;
  transition: color .5s linear;
}
.icon-search:hover {
 
  color: var(--mainGreen);
  
}
/* UTILITIES */

/* CONTAINER */

  .container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 .5rem;
}


/* TEXT */
.text-xl {
  font-size: 2rem;
  margin: 2rem 0;
  color: #fff;
  text-align:center;
}

.text-lg {
  font-size: 1rem;
  margin: 1.25rem 0;
  color: #fff;
  text-align:center;
}

.text-md {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: var(--dark-color);
}

/* BUTTONS */

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
  border-radius: 2px;
}

.btn:hover {
  opacity: .9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: .8rem 1.1rem;
  text-transform: uppercase;
}

.btn-icon {
  margin-left: 1rem;
}



/* with more than 650px */
@media only screen and (min-width: 650px) {

  .container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }

  .text-lg {
    font-size: 1.5rem;
    margin: 2rem 0;
  
  }
}



